*.swp
*.s
*.out
*.swo
*.o
*.pyc
*.dSYM
.DS_Store
*.txt
*.dat
*.pdf
*.log
*.npz
*.gif
*.yml
*.png
*.rdb
tags
fakernet_code/kintex_cli
fakernet_code/kintex_client_server
fakernet_code/fakernet_data_builder
fakernet_code/zipper
